<%= form_with model: product do |form| %>
  <% if form.object.errors.any? %>
    <p class="bg-red-500 rounded-md p-1 text-white">
      <%= form.object.errors.full_messages.first %>
    </p>
  <% end %>

  <%= render partial: "input", locals: { form: form, value: :name, label: "#{t 'label_name'}"} %>

  <div>
    <%= form.label :description, "#{t 'label_desc'}" %>
    <%= form.rich_text_area :description %>
  </div>
  <div>
    <%= form.label :featured_imagem, "#{t 'label_image'}" %>
    <%= form.file_field :featured_image %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.submit "#{t 'submit_btn'}" %>
  </div>


  <%= render partial: "input", locals: { form: form, value: :name, label: "#{t 'label_name'}"} %>
<% end %>

<%= link_to "#{t 'cancel_btn'}", products_path %>
