<!DOCTYPE html>
<html class="w-full h-full">
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Store">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 flex flex-col gap-2 w-full h-full items-center py-2">
    <nav class="flex flex-row items-center px-3 rounded-md w-1/2 h-1/14 justify-between shadow-xl shrink-0">
      <%= link_to "#{t '.title'}", root_path %>
      <%= button_to "#{t '.logout'}", session_path, method: :delete if authenticated? %>
      <%= button_to "#{t '.login'}", new_session_path unless authenticated? %>
    </nav>

    <main class="w-1/2 flex-9 px-3">
      <%= yield %>
    </main>
  </body>
</html>
